* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: #fff;
}

body {
  background-color: #212022;
}

h1 {
  font-size: 4rem;
  color: #7aac6a;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

p, a, li {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #7aac6a;
}

section {
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 3rem;
}

.nav-flex-container {
  display: flex;
  justify-content: flex-end;
}

.navegation .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
