<!DOCTYPE html>
<html lang="pt-BR">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/styles.css">
      <title>About</title>
  </head>
  <body>
    <header class="container">
      <h1>Tarefa 03</h1>
      <nav class="navegation nav-flex-container">
        <ul class="flex-container">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <section class="container">
      <h2>Como esta tarefa foi construída?</h2>
      <ol>
        <li>Foi feita com node no backend em conjunto com o framework Express;</li>
        <li>As rotas foram feitas com express.Router;</li>
        <li>Para servir os assets foi utilizado express.static;</li>
        <li>O servidor foi configurado para receber conexões na porta 5000;</li>
        <li>Por fim, nodemon foi adicionado como depndência de desenvolvimento para aumentar a produtividade.</li>
      </ol>
    </section>
    <footer class="container">
      <p>Criado por <a href="https://github.com/valdeirgsilva">Valdeir</a></p>
    </footer>
  </body>
</html>
