<!DOCTYPE html>
<html lang="pt-BR">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/styles.css">
      <title>Home</title>
  </head>
  <body>
    <header class="container">
      <h1>Tarefa 03</h1>
      <nav class="navegation nav-flex-container">
        <ul class="flex-container">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <section class="container">
      <h2>Seja bem-vindo(a)</h2>
      <p>Esta é a Tarefa 03 do curso ministrado por Matheus Battisti</p>
    </section>
    <footer class="container">
      <p>Criado por <a href="https://github.com/valdeirgsilva">Valdeir</a></p>
    </footer>
  </body>
</html>
